* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
   padding-top:70px;
}

.navbar {
   overflow:hidden;
   background-color: #009688;
   position:fixed;
   top:0;
   width:100%;
}

.navbar a {
    float: right;
    color:white;
    text-align:center;
    padding:20px;

}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 40px;
    
}

h1 {
    text-align:center;
    margin-top: 20px;
}

img {
    display:block;
    margin:0 auto;
    margin-top: 40px;
}
 p {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
 }

 .contact-form {
    height: 150px;
    background-color: #B2DFDB;
    border-top: 3px solid #757575;
    text-align:center;
 }

 .contact-form h2 {
    margin-top: 10px;
 }

 .contact-form form {
    border-radius: 20px;
    padding: 30px;
 }

 .contact-form button {
    margin: 5px;
 }

 footer {
    padding: 10px;
    background-color: #009688;
    bottom:0;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}
  .footer h3 {
    font-size: 18;
    color: white;
  }

 